{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="checkout-content row">
    <div class="page-title font-color-green col-12">
        <h1>Checkout
            <i class="fab fa-pagelines font-color-green"></i>
        </h1>
    </div>
    <div class="col-12 row m-0 p-0">
        <div class="basket-left col-12 col-lg-5 offset-lg-1 order-lg-last">
            <div class="basket-sub-title">
                <p class="">Order Summary ({{ product_count }})</p>
                <hr>
            </div>
            <div class="checkout-card">
                <div class="checkout-head row">
                    <div class="col-7 offset-2">
                        <p class="order-summary-col-head">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="order-summary-col-head">Subtotal</p>
                    </div>  
                </div>

                {% for item in basket_items %}
                <div class="row">
                    <div class="col-2 mb-1">
                        <a href="">
                            {% if item.product.image %}
                            <img class="checkout-basket-image" src="{{ item.product.image.url }}" alt="{{ product.product_name }}">
                            {% else %}
                            <img class="checkout-basket-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product_name }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-7">
                        <p class="my-0"><strong>{{ item.product.product_name }}</strong></p>
                        <p class="my-0">Qty: {{ item.quantity }}</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="my-0">${{ item.product.price | calculate_subtotal:item.quantity }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row text-black text-right">
                    <div class="col-7 offset-2">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Grand Total:</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">${{ total | floatformat:2 }}</p>
                        <p class="my-0">${{ delivery_cost | floatformat:2 }}</p>
                        <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>

            </div>
            
        </div>
        <div class="basket-right col-12 col-lg-6">
            <div class="basket-sub-title">
                <div class="">Delivery and Payment Details</div>
                <hr>
            </div>

            {% if basket_items %}
            <div class="checkout-card col-12">
                <div class="checkout-head">
                    <p>Payment Information</p>
                </div>
                <div class="price-breakdown-body">
                    <div class="price-breakdown-row row">
                        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                            {% csrf_token %}
                            <fieldset class="rounded px-3 mb-5">
                                <legend class="fieldset-label">Personal Details</legend>
                                <p>Fields marked with a (*) are required.</p>
                                {{ order_form.full_name | as_crispy_field }}
                                {{ order_form.email | as_crispy_field }}
                            </fieldset>
                            <fieldset class="rounded px-3 mb-5">
                                <legend class="fieldset-label">Delivery Details</legend>
                                {{ order_form.phone_number | as_crispy_field }}
                                {{ order_form.street_address1 | as_crispy_field }}
                                {{ order_form.street_address2 | as_crispy_field }}
                                {{ order_form.town_or_city | as_crispy_field }}
                                {{ order_form.postcode | as_crispy_field }}
                                {{ order_form.county | as_crispy_field }}
                                {{ order_form.country | as_crispy_field }}
                                <div class="store-details-row">
                                    {% if user.is_authenticated %}
                                        <input class="font-color-green" type="checkbox" id="store-details" name="store-details" checked>
                                        <label class="font-color-green store-details-label" for="store-details">Save these delivery details to my account &nbsp; <i></i></label>
                                    {% else %}
                                    <div>
                                        <a class="font-color-green" href="{% url 'account_signup' %}">Register an account</a> or 
                                        <a class="font-color-green" href="{% url 'account_login' %}">login</a> to store your details for faster checkout.
                                    </div>
                                    {% endif %}
                                </div>
                            </fieldset>
                            <fieldset class="px-3">
                                <legend class="fieldset-label">Card Details</legend>
                                <div class="mb-3" id="card-element"></div>
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </fieldset>

                            <div class="submit-button text-right mt-5 mb-2">
                                <a href="{% url 'view_basket' %}" class="btn btn-outline-black rounded-0">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="font-weight-bold">Return to Basket</span>
                                </a>
                                <button class="checkout-button" id="submit-button" class="btn btn-black rounded-0">
                                    Complete Checkout &nbsp;
                                    <span class="ml-1 icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </button>
                                <p class="small text-danger my-0">
                                    <span class="icon">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                    <span>Your card will be charged
                                        <strong>${{ grand_total|floatformat:2 }}</strong></span>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
<div id="progress-spinner">
    <h1>
        <i class="fas fa-3x fa-spin fa-cog"></i>
    </h1>
</div>

{% endblock %}



{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}