{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="checkout-content row">
    <div class="page-title font-color-green col-12">
        <h2>Order Successful
            <i class="fab fa-pagelines font-color-green"></i>
        </h2>
        <p>Thank you for your order and for supporting our mission of replanting native woodlands! Your order details can be found below and you will receive a confirmation email at {{ order.email }}</p>
    </div>
    <div class="col-12 row">
    </div>
</div>
{% endblock %}



{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}