{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="basket-content">
    <div class="page-title font-color-green">
        <h2>Your Basket
            <i class="fab fa-pagelines font-color-green"></i>
        </h2>
        <hr></div>
    <div class="col-12 col-lg-6">
        <div class="product-container">
            {% if basket_items %}
                <table class="table">
                    <thead>
                        <tr class="table-head-row">
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in basket_items %}
                            <tr>
                            <td><img class="table-product-image" src="{{ item.product.image_url }}" alt=""></td>
                            <td>
                                <div class="row">
                                    <div class="col-12">{{ item.product.product_name }}</div>
                                    <div class="col-12 basket-product-sku">SKU: {{ item.product.sku }}</div>
                                </div>
                            </td>
                            <td>€{{ item.product.price }}</td>
                            <td>
                                <div class="row">
                                    <form class="col-12 update-quantity-form" action="{% url 'update_basket' item.item_id %}" method="POST">
                                        {% csrf_token %}
                                        <input class="quantity-input" type="number" name="quantity" value="{{ item.quantity }}" data-item_id="{{ item.item_id }}" min="0" max="99">
                                    </form>
                                    <div class="col-12 row">
                                        <a class="col-4 basket-product-update update-basket-button" role="button" type="submit">Update</a>
                                        <a class="col-4 basket-product-delete" id="delete_{{ item.item_id }}">Delete</a>
                                    </div>
                                </div>
                            </td>
                            <td>€{{ item.product.price | calculate_subtotal:item.quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="font-color-dark" colspan="5">Basket Total: €{{ total }}</td>
                        </tr>
                    </tfoot>
                </table>
            {% else %}
                <p>You have 0 items in your basket.</p>
                <p><a href="">Click here to return to the store.</a></p>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-lg-6">
    </div>
</div>
{% endblock %} 

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.update-basket-button').click(function(e) {
        var form = $(this).parent().prev('.update-quantity-form');
        form.submit();
    })

    
    $('.basket-product-delete').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('delete_')[1];
        var url = `/basket/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}