html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

header {
    padding: 0;
}

.bg-dark-green {
    background-color: #1A342C;
}

.font-color-light {
    color: #ffffff;
}

.font-color-dark {
    color: #1A342C;
}

.font-color-green {
    color: #336857;
}

.link-red,
.link-red:hover,
.link-red:active {
    color: #dc3545;
}

.link-green,
.link-green:hover,
.link-green:active {
    color: #336857;
}

.page-title h1,
h1.page-title {
    font-size: 2.8rem;
}

.page-title {
    height: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    justify-content: space-between;
    flex-direction: row;
    background-color: #336857;
    height: 7.5rem;
    margin: 0;
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, .25);
}

.banner {
    background-color: #336857;
    position: relative;
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, .25);
}

.banner-text {
    color: #ffffff;
    padding: .5rem;
    text-align: center;
    font-size: 1.2rem;
}

.form-control {
    font-size: 1.4rem;
}

.navbar-brand,
.navbar-brand a,
.navbar-brand a:hover,
.navbar-brand a:visited,
.navbar-brand a:focus {
    font-size: 3.5rem;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: 'Josefin Slab', sans-serif;
}

.nav-item .nav-link {
    font-size: 2rem;
    color: #ffffff;
    white-space: nowrap;
    padding-left: .5rem;
    border-bottom: .5rem solid #336857;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active-link,
.sm-display .dropdown-menu .dropdown-item.active-link,
.sm-display .dropdown-menu .dropdown-item:hover {
    background-color: #ffffff;
    color: #336857;
}

.navbar-icon-container {
    padding: 0 1rem;
}

.navbar-icon-container,
.navbar-icon-container-profile,
.navbar-icon-container-basket {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}


.navbar-icon-container-profile,
.navbar-icon-container-basket {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-icon-container-profile {
    display: none;
}

.navbar-icon {
    justify-content: center;
    display: flex;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.4rem;
}

.navbar-icon-label {
    white-space: nowrap;
    font-size: 1.4rem;
    justify-content: center;
    display: flex;
    color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}

.dropdown-toggle:after {
    border: none;
}

nav.navbar div.flex {
    justify-content: flex-end;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.navbar-right-side {
    position: absolute;
    display: flex;
    right: 1.5rem;
    width: auto;
}

.navbar-toggler {
    position: absolute;
    left: 1.5rem;
    width: auto;
    color: #ffffff;
    z-index: 5;
    font-size: 2.4rem;
}

nav.navbar div.navbar-collapse {
    background-color: #336857;
    padding: 1rem;
    z-index: 1;
    position: absolute;
    top: 6rem;
    margin: 0;
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, .25);
}

.sm-display .dropdown-menu {
    background-color: #336857;
    color: #ffffff;
    border: none;
    font-size: 1.6rem;
}

.sm-display i {
    font-size: 1.4rem;
    margin-left: .5rem;
}

.sm-display .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.navbar-right-side .dropdown .dropdown-menu .dropdown-item,
.navbar-right-side .dropdown .dropdown-menu .dropdown-item:hover {
    color: #336857;
}

/* Error Page Styling */
.error-content {
    padding-top: 8rem;
    padding-bottom: 4rem;
    height: calc(100vh - 4rem);
    overflow: hidden;
    position: relative;
}

.error-text {
    color: #ffffff;
    font-weight: 300;
}

.error-container {
    display: flex;
    max-width: 80vw;
    margin: 10rem auto 0 auto;
    flex-direction: column;
}


.error-container p {
    font-size: 1.6rem;
}

.error-heading {
    font-size: 6rem;
}

h2.error-text {
    margin-top: 4rem;
    font-size: 3rem;
}

.error-text a,
.error-text a:visited,
.error-text a:hover {
    color: #ffffff;
}

/* Toast Styling */
.message-container {
    z-index: 10000;
    position: fixed;
    top: 11rem;
    right: 1rem;
    height: auto;
    width: auto;
}

.toast {
    background-color: rgba(255, 255, 255, .95);
    ;
}

.toast-header {
    background-color: #336857;
    color: white;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 1.8rem;
}

.toast-header button {
    border: none;
    background: none;
    color: #ffffff;
}

.toast-header p {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

.toast-body p {
    font-size: 1.4rem;
}

.toast-basket-total-qty {
    margin-bottom: 0;
}

.toast-basket-product-display {
    max-height: 14rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.toast-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toast-product-image {
    width: 100%;
}

.toast-basket-item p {
    margin: 0;

}

.toast-basket-summary {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600
}

.toast-footer {
    padding-top: 1.2rem;
    margin-left: auto;
    text-align: right;
}

.toast-basket-link {
    margin-top: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #336857;
    border-radius: .1rem;
    padding: .5rem;
}

/* Allauth Pages Styling */
.allauth-content {
    padding: 14rem 4rem 6rem 4rem;
    min-height: calc(100vh - 4rem);
    height: calc(100vh - 4rem);
    position: relative;
    background-color: #F2F8F7;
    justify-content: space-between;
}

.allauth-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.allauth-body,
.allauth-image {
    min-height: 100%;
    height: 100%;
}

.allauth-body {
    background-color: #F2F8F7;
    margin: 0;
    padding: 1rem 2rem;
}

.allauth-body h1 {
    text-align: center;
    font-size: 3.4rem;
    font-family: 'Josefin Slab', sans-serif;
}


.allauth-image {
    display: none;
}

.allauth-image,
.allauth-image img {
    padding: 0;
}

.allauth-body .page-title {
    margin-bottom: 5rem;
}

.allauth-body form {
    font-size: 1.4rem;
}

.allauth-body form div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.allauth-body form a {
    font-size: 1.2rem;
}

.allauth-body form label {
    color: #1A342C;
}

.allauth-container p {
    color: #1A342C;
    font-size: 1.2rem;
}

.allauth-body form input[type="submit"],
.allauth-body form input[type="submit"]:hover,
.allauth-body form button,
.allauth-body form button:hover,
.allauth-link.button,
.allauth-link.button:hover {
    display: flex;
    background-color: #336857;
    color: #ffffff;
    border: none;
    padding: .5rem 1rem;
}

.allauth-link {
    display: flex;
    text-decoration: none;
}

.allauth-link.button {
    font-size: 1.4rem;
}

.allauth-body p a:hover,
.allauth-body p a {
    color: #336857;

}

.allauth-bottom-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonHolder button,
.buttonHolder {
    flex-direction: column;
}

.buttonHolder button {
    width: auto;
    margin-top: .5rem;
    padding: 1rem;
    margin-bottom: .5rem;
}

/* Home Page Styling */
.home-content {
    padding-top: 8rem;
    padding-bottom: 4rem;
    height: calc(100vh - 4rem);
    overflow: hidden;
    position: relative;
}

.home-page-banner {
    z-index: 100;
    background-color: #336857;
    position: relative;
    margin-top: 12rem;
    height: auto;
    width: 100vw;
    padding: 4rem 3rem;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .25);
    font-family: 'Josefin Slab', sans-serif;
}

.home-page-banner h1 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 3rem;
}

.home-page-banner p {
    color: #fff;
    font-size: 1.8rem;
}

.tree-graphic {
    position: absolute;
    top: 0;
    height: calc(100vh - 4rem);
    width: 100vw;
}

.tree-graphic svg {
    position: absolute;
    bottom: -10%;
}

.cta-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}

.cta-container a {
    display: flex;
    background-color: #1A342C;
    color: #ffffff;
    font-size: 1.8rem;
    padding: .5rem 1rem;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .25);
}

.cta-sponsor {
    margin-left: 2rem;
}

/* Products Page */
.store-content {
    padding: 14rem 2rem;
    min-height: calc(100vh - 4rem);
    position: relative;
    background-color: #F2F8F7;
}

.store-row {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

.product-card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 1rem;
    height: 37rem;
    max-width: 30rem;
    min-width: 24rem;
    flex-basis: 100%;
    padding: 1rem 1rem 0 1rem;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .1);
}

.product-card-image {
    max-width: 100%;
    height: 22rem;
    overflow-x: hidden;
    padding: 0;
}

.product-card-image img {
    width: auto;
    height: 100%;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.alt-product-image {
    height: 100%;
    width: 100%;
    background-color: rgba(51, 104, 87, .5)
}

.display-product-options {
    display: none;
    position: absolute;
    font-size: 2rem;
    flex-direction: column;
    top: 4rem;
    right: 0;
    text-align: right;
    width: 14rem;
    padding: 1rem;
    z-index: 5;
    background-color: #ffffff;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .1);
    margin-right: 1rem;
}

.display-product-options i {
    margin-left: .5rem;
}

.display-product-options a,
.display-product-options button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    font-size: 2rem;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #1A342C;
}

.display-product-options h4,
.display-product-options i {
    margin: 0;
    display: flex;
    font-size: 1.4rem;
    color: #336857;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 0;
    padding-top: 1rem;
    height: 100%;
    z-index: 10;
}

.card-title-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.product-name,
.product-price {
    color: #1A342C;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: auto;
}

.product-price {
    margin-top: .5rem;
}

.product-sku {
    color: #6c757d;
    font-size: 1.2rem;
    margin: .5rem 0 0 0;

}

.product-card-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
    margin-top: auto;
}

.product-card-options form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-card-options button,
.product-card-options a {
    display: flex;
    border: .1rem solid #ffffff;
    color: #fff;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    background-color: #336857;
    justify-content: center;
    width: 10rem;
    text-decoration: none;
}

.product-details-button {
    height: 3rem;
    margin-top: auto;
}

.add-to-basket-container {
    display: flex;
    flex-direction: row;
}

.product-card-options form .add-to-basket-container input,
.product-card-options form .add-to-basket-container a,
.product-card-options form .add-to-basket-container div {
    display: flex;
}

.product-card-options form .add-to-basket-container button {
    width: 10rem;
    height: 3rem;
}

.product-card-options form .add-to-basket-container input {
    width: 5rem;
    height: 3rem;
    border-radius: 0;
}

.add-to-basket button {
    width: 100%;
}

.product-filter-select,
.product-sort-select {
    margin-right: 2rem;
}

.display-options form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.display-options form .filter-row {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

.display-options form .filter-row .filter-row {
    margin: 0;
}

.display-options form .flex-row {
    display: flex;
    flex-direction: row;
}

.display-options label {
    margin-bottom: .2rem;
    margin-right: .5rem;
}

.display-options {
    margin-top: 2rem;
}

.display-options input,
.display-options button {
    margin-top: auto;
}

.display-options select,
.display-options input {
    padding: .5rem;
    color: #1A342C;
    background-color: #ffffff;
    border: none;
    width: auto;
}

.display-options select,
.display-options input,
.display-options button {
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .1);
    font-size: 1.2rem;
}

.display-options label {
    font-size: 1.2rem;
}

.results-found {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.results-found a,
.results-found a:hover,
.results-found a:active {
    color: #336857;
}

.no-products-display p {
    font-size: 1.8rem;
}

/* Product Details Page */
.product-details-content {
    padding: 14rem 4rem 6rem 4rem;
    min-height: calc(100vh - 4rem);
    position: relative;
    background-color: #F2F8F7;
    display: flex;
    flex-direction: column;
}

.product-details-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    max-width: 60rem
}

.product-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.product-image-container img {
    width: 100%;
    height: auto;
}

.pd-name {
    margin-bottom: .25rem;
}

.pd-name,
.pd-price {
    font-size: 2rem;
}

.pd-price {
    font-weight: 400;
    margin-bottom: 1rem;
}

.pd-description {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    min-height: 8rem;
}

.category-link {
    font-size: 1.2rem;
    border: none;
    background: none;
    color: #336857;
    text-decoration: underline;
}

.category-link:hover {
    color: #336857;
}

.pd-options {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pd-options input {
    margin-left: 2rem;
}

.pd-options .icon {
    margin-right: .5rem;
}

.pd-edit-options {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.pd-edit-options a:first-child {
    margin-right: .5rem;
}

.pd-label {
    font-size: 1.2rem;
}

.product-details-info-container form {
    margin-top: 2rem;
}

/* Basket Styling */
tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: #336857;
    border-color: rgba(51, 104, 87, .5)
}

.basket-sub-title {
    color: #336857;
    font-size: 1.8rem;
    padding: 0;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 2rem;
    flex-direction: column;
}

.basket-sub-title hr {
    max-width: 40rem;
    width: 100%;
    display: flex;
    margin-top: .5rem;

}

.basket-content tfoot td {
    border: none;
}

.basket-content tbody {
    border-bottom: none;
}

.basket-content {
    padding: 14rem 2rem 8rem 2rem;
    min-height: calc(100vh - 4rem);
    position: relative;
    background-color: #F2F8F7;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
}

.mobile-basket-display {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
}

.basket-content table {
    display: none;
    width: 100%;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .1);
    background-color: #ffffff;
}

.table-product-image {
    width: 12rem;
    height: auto;
}

thead {
    background-color: #336857;
    height: 3rem;
    justify-content: center;
}

.table> :not(:last-child)> :last-child>* {
    border-color: #336857;
    border-color: rgba(51, 104, 87, .5)
}

thead th,
.price-breakdown-head p {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-top: auto;
    height: auto;
    margin-bottom: auto;
}

.table-head-row th {
    min-width: 6rem;
    max-width: 10rem;
}

.basket-content tr.table-head-row {
    height: 3rem;
}

.basket-content tr {
    height: 8.5rem;
    border: none;
}

.basket-content tfoot tr {
    text-align: right;
    font-size: 1.4rem;
    height: 4rem;
}

.basket-content tfoot,
.basket-content tfoot tr {
    border: none;
}

td {
    padding-right: 2rem;
    vertical-align: middle;
    font-size: 1.2rem;
    color: #1A342C;
}

td p {
    line-height: 2.5rem;
}

.basket-content table input {
    width: 6rem;
}


.basket-product-update,
.basket-product-delete {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.basket-product-update,
.basket-product-update:hover,
.basket-product-update:active {
    color: #336857;
}

.basket-product-delete,
.basket-product-delete:hover,
.basket-product-delete:active {
    text-align: right;
    color: red;
    font-size: 1.6rem;
}

.basket-product-sku {
    font-size: 1rem;
}

.basket-product-image {
    width: 100%;
    max-width: 25rem;
    height: 15rem;
    overflow-y: hidden;
}

.mobile-product-image {
    width: 100%;
    height: auto;
}

.basket-product-details {
    width: 20rem;
    position: relative;
    margin-bottom: 1rem;
}

.basket-product-details .basket-product-delete {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 1.6rem;
}

.mobile-basket-quantity,
.table-basket-quantity {
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.mobile-basket-quantity {
    margin: 0 0 1rem 0;
}

.table-basket-quantity {
    margin: 0;
}

.mobile-basket-quantity a,
.table-basket-quantity a {
    height: 2.5rem;
    justify-content: center;
    line-height: 2.5rem;
    background: #336857;
    padding: 0 .5rem
}

.mobile-basket-quantity a i,
.table-basket-quantity a i {
    text-align: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.mobile-basket-quantity input,
.table-basket-quantity input {
    width: 8rem;
    height: 2.5rem;
}

.mobile-basket-display form {
    padding: 0;
}

.mobile-basket-product:not(:last-child) {
    margin-bottom: 2rem;
}

.mobile-basket-product {
    display: flex;
    flex-direction: row;
}

.mobile-basket-product .flex-col {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.mobile-product-name {
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.mobile-product-price {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    text-align: right;
}

.mobile-product-sku {
    font-size: 1rem;
    margin-bottom: 0;
}

.mobile-basket-head {
    background-color: #336857;
    color: #ffffff;
    height: 3rem;
    width: 100%;
    margin-bottom: 2rem;
    padding: .5rem .5rem;
    display: flex;
    font-size: 1.4rem;
}

.basket-price-breakdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0;
    width: 100%;
    min-width: 25rem;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .1);
}

.price-breakdown-head {
    background-color: #336857;
    color: #ffffff;
    height: 3rem;
    width: 100%;
    margin-bottom: 2rem;
}

.price-breakdown-head p {
    padding: .5rem .5rem;
}

.price-breakdown-body {

    padding: 0 1rem 2rem 1rem;
}

.price-breakdown-body p {
    font-size: 1.2rem;
}

.price-breakdown-row {
    margin-bottom: 1.5rem;
    padding: 0 .5rem;
}

.basket-total {
    padding-right: .5rem;
}

.price-breakdown-row .price-breakdown-disc {
    font-size: 1rem;
}

.price-breakdown-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.highlighted-total {
    background-color: #336857;
    color: #ffffff;
    margin-top: 1rem;
    padding: 1rem;
}

.highlighted-total p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.store-link,
.checkout-button {
    font-size: 1.4rem;
}

.checkout-button,
.checkout-button:hover,
.checkout-button:active {
    text-align: center;
    display: flex;
    background-color: #336857;
    text-decoration: none;
    color: #ffffff;
    border: none;
    padding: .5rem 1rem;
}

.store-link,
.store-link:hover,
.store-link:active {
    cursor: pointer;
    display: flex;
    color: #336857;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.basket-section {
    display: flex;
    flex-direction: column;
}

.product-container {
    background-color: #ffffff;
    padding: 0;
    display: flex;
    margin: 0;
    flex-direction: column;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .1);
}

/* Checkout Styling */
.checkout-content,
.profile-content {
    padding: 14rem 4rem 6rem 4rem;
    min-height: calc(100vh - 4rem);
    position: relative;
    background-color: #F2F8F7;
    justify-content: space-between;
}

.checkout-basket-image {
    width: 100%;
}

.checkout-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0;
    width: 100%;
}

.checkout-card .checkout-head.row {
    margin: 0;
}

.checkout-card .row {
    padding: 0 1rem 1rem 1rem;
    margin: 1rem 0 0 0;
}

.checkout-body p {
    font-size: 1.2rem;
}

.order-summary-col-head {
    color: white;
}

.checkout-head p {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-top: auto;
    height: auto;
    margin-bottom: auto;
    padding: .5rem .5rem;
}

.checkout-head {
    background-color: #336857;
    color: #ffffff;
    height: 3rem;
    width: 100%;
    margin-bottom: 2rem;
}

/* Checkout confirmation */
.page-title p {
    font-size: 1.4rem;
}

.checkout-confirmation-content {
    background-color: #1A342C;
    padding: 12rem 4rem;
    min-height: calc(100vh - 4rem);
    position: relative;
    justify-content: space-between;
}

.checkout-confirmation-content .page-title {
    color: #ffffff;
}

.checkout-confirmation-container {
    display: flex;
    flex-direction: column;
}

.order-confirmation-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #F2F8F7;
}

.order-confirmation-heading {
    color: #1A342C;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.order-confirmation-wrapper p {
    font-size: 1.2rem;
    margin-bottom: .2rem;
    word-wrap: break-word;
    white-space: normal;
}

.checkout-confirmation-home-link,
.checkout-confirmation-home-link:hover {
    font-size: 1.8rem;
    text-decoration: none;
}

.checkout-confirmation-home-link:hover {
    color: #ffffff;
}

.order-confirmation-line-item {
    display: flex;
    justify-content: space-between;
}

.order-confirmation-line-item span {
    display: flex;
}

/* User Profile Styling */
.cta-button-green {
    display: flex;
    background-color: #336857;
    color: #ffffff;
    border: none;
    font-size: 1.4rem;
    padding: .5rem 1rem;
    text-decoration: none;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .1);
}

.cta-button-green:hover {
    color: #ffffff;
}


.checkout-content table tbody div {
    max-height: 10px;
    overflow-y: scroll;
}

.checkout-content table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.profile-row {
    padding: 0;
    --bs-gutter: 0;
}

/* Product/Post Edit Options */
.admin-content {
    padding: 14rem 4rem 6rem 4rem;
    background-color: #F2F8F7;
    min-height: calc(100vh - 4rem);
    overflow: hidden;
}

.admin-form-container {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
}

.admin-form-container label {
    margin-bottom: 0;
}

.post-admin-options {
    display: flex;
    flex-direction: row;
}

.post-admin-options button {
    margin-left: 2rem;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button-row button {
    margin-left: 2rem;
}

.admin-container {
    width: 100%;
    max-width: 50rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.display-edit-options {
    display: none;
    position: absolute;
    font-size: 2rem;
    flex-direction: column;
    top: 4rem;
    right: 0;
    text-align: right;
    width: 12rem;
    padding: 1rem;
    z-index: 5;
    background-color: #336857;
}

.display-edit-dropdown {
    position: absolute;
    background: none;
    z-index: 10;
    border: none;
    top: 1rem;
    right: 2rem;
    width: auto;
    font-size: 2rem;
    min-height: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 55;
}

.display-edit-options i {
    margin-left: .5rem;
}

.display-edit-options a,
.display-edit-options button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    font-size: 2rem;
    padding: .25rem 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #1A342C;
}

.display-edit-options h4,
.display-edit-options i {
    margin: 0;
    display: flex;
    font-size: 1.4rem;
    color: #ffffff;
}

/* Edit / Add Products  */
#file-input-checkbox:checked+.file-input-label:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f14a";
    cursor: pointer;
    margin-left: 1rem;

}

#file-input-checkbox+.file-input-label:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0c8";
    cursor: pointer;
    margin-left: 1rem;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #b8b8b8;
}

.custom-file-checkbox {
    display: none;
}


.custom-image-file-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%
}

.custom-image-file-container img {
    height: 12rem;
    width: auto;
    margin-bottom: 1rem;
}


.flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
}

.flex-space-between p,
.flex-space-between label,
.flex-space-between input {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.flex-space-between p {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.custom-image-file-clear label {
    font-size: 1.4rem;
}

.button-wrap {
    position: relative;
}

.button {
    display: inline-block;
    cursor: pointer;
    background-color: #336857;
    font-size: 1.4rem;
    color: #ffffff;
    border: none;
    padding: .5rem 1rem;
}

.custom-image-file-input {
    display: flex;
    flex-direction: column;
}

.custom-image-file-clear {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* progress post styling */
.progress-content {
    padding-top: 10rem;
    padding-bottom: 4rem;
    min-height: calc(100vh - 4rem);
    height: auto;
    overflow: hidden;
    position: relative;
}

.progress-post-container {
    position: relative;
    padding-top: 5rem;
    z-index: 200;
}

.progress-post-container .post-card:not(:first-child) {
    margin-top: 4rem;
}

.progress-post-container .post-card:last-child {
    margin-bottom: 4rem;
}

.post-head {
    position: relative;
    background-color: #336857;
}

.post-body {
    padding: 1rem 2rem;
}

.post-image-container {
    width: 100%;
    max-height: 35rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.post-image-container img {
    width: 100%;
    height: auto;
}

.post-foot {
    padding: 0 2rem 1rem 2rem;
    height: auto;
}

.foot-options {
    color: #1A342C;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.foot-options a:not(:first-child) {
    margin-left: 2rem;
}

.post-head h2 {
    font-size: 1.8rem;
    color: #ffffff;
    padding: 1.5rem;
}

.post-card {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
    max-width: 60rem;
}

.post-content {
    min-height: 6rem;
    font-size: 1.4rem;
}

.post-body-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
}

.post-body-bottom p {
    margin-bottom: 0;
}

.add-post-button {
    position: relative;
    display: flex;
    width: 90%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
}

.add-post-button a {
    font-size: 1.6rem;
    background-color: #336857;
    color: #F2F8F7;
    border: none;
    padding: 1rem;
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, .25);
    text-decoration: none;
    z-index: 1000;
}

.add-post-button a i {
    line-height: 1.5;
}

.post-button-container {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 50;
    height: 4.4rem;
}

div.spacer {
    display: flex;
    width: 100%;
    position: relative;
    height: 0;
    margin-bottom: 6rem;

}

/* Post comment styling */
.post-comment-container {
    display: none;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.post-comment-add {
    display: flex;
}

.add-comment-form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.add-comment-form textarea {
    width: 100%;
    height: auto;
    resize: none;
    font-size: 1.2rem;
}

.add-comment-form button {
    width: 6rem;
    border: none;
    font-size: 1.2rem;
    background-color: #336857;
    color: #ffffff;
    margin-top: .5rem;
}

.add-comment-alt {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #8e8e8e;
}

.add-comment-alt a {
    color: #336857;
}

.form-background {
    margin-bottom: 2rem;
}

.form-background,
.add-comment-form textarea {
    border: 1px solid #336857;
}


.comment-bottom-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    color: grey;
}

.comment-bottom-details {
    width: 24rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-bottom-row .comment-bottom-details p {
    margin-bottom: 0;
}

.comment-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-options a:first-child {
    margin-right: 1rem;
    margin-left: 1rem;
}

.comment-card p {
    margin-bottom: .5rem;
}

.comment-date {
    margin-left: 2rem;
}

.comment-card {
    margin-top: .5rem;
}

.comment-content {
    font-size: 1.2rem;
}

.post-comment-container .comment-seperate:nth-child(2) {
    display: none;
}

.comment-seperate {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: .2rem solid #336857;
    margin-top: .2rem;
    opacity: 1;
}

.comment-edit {
    display: none;
    margin-top: .5rem;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-buttons button:first-child {
    margin-right: 1rem;
}

.comment-edit form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.edit-comment-textarea {
    width: 100%;
    height: auto;
    resize: none;
    font-size: 1.2rem;
}

.comment-save,
.comment-cancel {
    width: 6rem;
    border: none;
    font-size: 1.2rem;
    background-color: #336857;
    color: #ffffff;
    margin-top: .5rem;
}

.comment-link,
.comment-link:focus,
.comment-link:hover {
    border: none;
    background: none;
    color: #336857;
    text-decoration: underline;
}

/* Footer Styling */
footer {
    position: relative;
    bottom: 0;
    background-color: #336857;
    height: 4rem;
    width: 100vw;
    justify-content: center;
    display: flex;
}

.footer-center {
    display: flex;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer p {
    padding-left: 1rem;
    padding-right: 1rem;
}

footer p,
.social-container {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white;
    font-size: 1.6rem;
}

.social-container i {
    padding: 1rem;
    color: #ffffff;
}

@media (min-width: 550px) {

    .basket-right,
    .basket-left {
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .home-page-banner {
        width: 52.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .allauth-content {
        background-color: #F2F8F7;
        background: url(https://trestore-milestone-project-4.s3.eu-west-1.amazonaws.com/media/allauth-image.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .allauth-body,
    .allauth-image {
        box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, .25);
    }

    .allauth-container {
        height: 60rem;
    }


}

@media (min-width: 768px) {

    .mobile-basket-display {
        display: none;
    }


    .basket-price-breakdown {

        max-width: 30rem;
        min-width: 25rem;
    }

    .basket-content table {
        display: inline;
    }

    .product-container {
        background: none;
        padding: 0 0 2rem 0;
        margin: 0;
        box-shadow: none;
    }

    .mobile-basket-head {
        display: none;
    }

    .basket-right,
    .basket-left {
        display: flex;
        flex-direction: column;
        max-width: 60vw;
        margin: 0;
    }

    .basket-left {
        margin-right: 5%;
    }

    .sm-display {
        display: none;
    }

    nav.navbar div.navbar-collapse {
        box-shadow: none;
        display: flex;
        top: 1rem;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-brand {
        position: absolute;
        text-align: left;
        margin-left: 1.5rem;
        color: #ffffff;
    }

    .navbar-icon-container-profile {
        display: flex;
    }

    .nav-item .nav-link {
        padding: 0;
    }

    .nav-item .nav-link:hover,
    .nav-item .nav-link.active-link {
        background-color: #336857;
        color: #ffffff;
        border-bottom: .5rem solid #ffffff;
    }

    .cta-container {
        justify-content: flex-start;
    }

    .home-page-banner {
        z-index: 100;
        background-color: #336857;
        position: relative;
        margin-top: 12rem;
        height: auto;
        width: 100vw;
        padding: 4rem 3rem;
        box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .25);
        font-family: 'Josefin Slab', sans-serif;
    }

    .home-page-banner h1 {
        margin-bottom: 2rem;
        color: #fff;
        font-size: 3.5rem;
    }

    .home-page-banner p {
        color: #fff;
        font-size: 2rem;
    }

    .home-page-banner {
        width: 66rem;
        margin-left: auto;
        margin-right: auto;
    }

    .tree-graphic {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .tree-graphic svg {
        position: absolute;
        right: -10rem;
    }

    .home-page-banner {
        padding: 6rem 5rem;
    }

    .product-card {
        flex-basis: 33%;
    }

    .checkout-content {
        padding: 12rem 4rem;
    }

    .basket-lower-section {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    /* Allauth Pages Styling */
    .allauth-content {
        padding: 12rem 4rem;
    }

    .allauth-container {
        width: 60vw;
    }

    .allauth-body {
        padding: 4rem;
    }

    .product-details-info-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        min-width: 30rem;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .product-image-container {
        width: 50%;
        height: auto;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .product-image-container img {
        width: 100%;
        height: auto;
    }

    .admin-container {
        width: 80%;
    }

    /* Error styling */
    .error-container {
        max-width: 60vw;
    }

    .error-heading {
        font-size: 6rem;
    }
}

@media (min-width: 992px) {

    /* Allauth Pages Styling */
    .allauth-content {
        padding: 12rem 8rem;
        min-height: calc(100vh - 4rem);
        height: calc(100vh - 4rem);
        position: relative;
        justify-content: space-between;
        background: #1A342C;
        overflow-y: hidden;
    }

    .basket-content table {
        min-width: 45rem;
    }

    .allauth-image {
        display: flex;
        position: relative;
        overflow-x: hidden;
        justify-content: center;
    }

    .allauth-image img {
        display: flex;
        height: 100%;
        width: auto;
        right: 0;
        bottom: 0;
    }

    .post-card {
        margin-left: 15%;
    }

    .add-post-button {
        margin-left: calc(15% + 62rem);
    }

    div.spacer {
        display: none;
    }

    .product-details-content {
        padding: 12rem 8rem;
        min-height: calc(100vh - 4rem);
        position: relative;
        background-color: #F2F8F7;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .product-details-info-container {
        margin:0 0 0 2rem;
    }

    .product-image-container {
        margin: 0
    }
}

@media (min-width: 1200px) {

    .home-page-banner {
        margin-left: 15%;
    }

    .tree-graphic svg {
        position: absolute;
        right: -10rem;
    }

    .product-card {
        flex-basis: 25%;
        max-width: 32rem;
    }

    .store-content {
        padding: 12rem 14rem;
    }

    .basket-content {
        padding: 14rem 15rem 8rem 10rem;
    }

    .basket-content>* {
        margin-left: 10%;
    }

    .basket-right {
        position: fixed;
        left: calc(70rem + 15%)
    }

    .checkout-content {
        padding: 12rem 8rem;
    }

    .product-details-info-container {
        margin-left: 4rem;
    }

    .admin-container {
        width: 60%;
    }

    .admin-content {
        max-height: 100vh;
    }

    .admin-content form div {
        margin-bottom: .5rem;
    }

}