{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_profiles/css/user_profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="checkout-content row">
    <div class="page-title font-color-green col-12">
        <h1>Profile
            <i class="fab fa-pagelines font-color-green"></i>
        </h1>
    </div>
    <div class="col-12 row m-0 p-0">
    </div>
</div>
</div>
{% endblock %}