{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user_profiles/css/user_profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="checkout-content">
    <div class="page-title font-color-green col-12">
        <h1>Your Profile
            <i class="fab fa-pagelines font-color-green"></i>
        </h1>
        <hr>
    </div>
    <div class="row">
        <div class="basket-left col-12 col-lg-4 row p-0">
            <div class="profile-trees-container font-color-green">
                <h2>Tree's Planted: {{ trees_planted }}</h2>
                <p>5% of all sales go directly towards the planting of native Irish Tree Species. You can find out more about our progress and our wider replanting efforts <a href="/">in our progress blog.</a></p>
            </div>
            <div>
                <div  class="basket-sub-title">
                    <div class="profile-heading">
                        <div class="flex">Contact Details</div>
                    </div>
                    <hr>
                </div>
                <div class="profile-default-details profile-contact-details">
                    <p>Username: {{ user }}</p>
                    <p>Email: {{ user.email }} &nbsp;&nbsp;(<a href="{% url 'account_email' %}">Update Email</a>)</p>
                    <p>Password: (<a href="{% url 'account_set_password' %}">Update Password</a>)</p>
                </div>
            </div>
            <div>
                <div  class="basket-sub-title">
                    <div class="profile-heading">
                        <div class="flex">Delivery Details</div>
                        <div class="edit-button flex" onclick="toggleForm(this)"  id="toggle-delviery-details"><i class="fas fa-edit"></i></div>
                    </div>
                    <hr>
                </div>
                <div class="profile-default-details profile-delivery-details">
                    <p>{{ profile.default_full_name }}</p>
                    <p>{{ profile.default_street_address1 }}</p>
                    <p>{{ profile.default_street_address2 }}</p>
                    <p>{{ profile.default_town_or_city }}</p>
                    <p>{{ profile.default_post_code }}</p>
                    <p>{{ profile.default_county }}</p>
                    <p>{{ profile.default_country.name }}</p>
                </div>
                <form class="form-profile-details" action="{% url 'user_profile' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <button class="cta-button-green" type="submit">Update Details</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="basket-right col-12 col-lg-6 offset-lg-1 row p-0"> 
            <div  class="basket-sub-title">
                <div class="">Order History</div>
                <hr>
            </div>
            <table class="tabl table-small">
                <thead>
                    <tr class="table-head-row">
                    <th scope="col">Order Number</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Total</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td title="{{ order.order_number }}">
                            {{ order.order_number|truncatechars:12 }}
                        </td>
                        <td>
                            {{ order.date }}
                        </td>
                        <td>
                            {{ order.grand_total }}
                        </td>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number}}">Order details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'user_profiles/js/user_profiles.js' %}"></script>
{% endblock %}