{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="store-content container-flex bg-dark-green">
    <div class="store-row row">
        <h2 class="page-title font-color-dark col-12">Sponsorship Packages</h2>
    </div>
    <div class="products-container">
        {% if products|length >= 1 %}
            {% for product in products %}
                <div class="product-card row no-gutters">
                    {% if product.image %}
                        <a class="product-card-image col-12" href="">
                            <img src="{{ product.image.url }}" alt="">
                        </a>
                    {% endif %}
                    <div class="card-title col-12 row">
                        <div class="col-12 row">
                            <p class="product-name col-8">{{ product.product_name }}</p>
                            <p class="product-price col-4">€{{ product.price }}</p>
                        </div>
                        <div class="product-card-options col-12 row">
                            <button class="col-6">Add to Basket</button>
                            <button class="col-6">View Product</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>
    </div>
    </div>
</div>
{% endblock %}