{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="progress-content container-flex bg-dark-green">
    <div class="tree-graphic">
        <svg id="Capa_1" enable-background="new 0 0 511.999 511.999" viewBox="0 0 600 400" height="800" width="800" xmlns="http://www.w3.org/2000/svg">
            <g>
                <path
                    d="m381.523 245.56c-5.857-5.857-15.355-5.857-21.213 0l-89.227 89.227v-128.574l68.608-68.608c5.858-5.858 5.858-15.355 0-21.213-5.857-5.858-15.355-5.858-21.213 0l-47.395 47.395v-148.787c0-8.284-6.716-15-15-15s-15 6.716-15 15v54.193l-34.686-34.685c-5.857-5.858-15.355-5.858-21.213 0s-5.858 15.355 0 21.213l55.899 55.898v143.331l-89.395-89.395c-5.857-5.857-15.355-5.857-21.213 0-5.858 5.858-5.858 15.355 0 21.213l110.608 110.608v149.623c0 8.284 6.716 15 15 15s15-6.716 15-15v-69.785l110.44-110.44c5.858-5.858 5.858-15.356 0-21.214z"
                    fill="#85573c" />
                <path
                    d="m381.523 245.56c-5.857-5.857-15.355-5.857-21.213 0l-89.227 89.227v-128.574l68.608-68.608c5.858-5.858 5.858-15.355 0-21.213-5.857-5.858-15.355-5.858-21.213 0l-47.395 47.395v-148.787c0-8.284-6.716-15-15-15-.028 0-.056.004-.084.004v461.991c.028 0 .056.004.084.004 8.284 0 15-6.716 15-15v-69.785l110.44-110.44c5.858-5.858 5.858-15.356 0-21.214z"
                    fill="#6d3d20" />
                <g fill="#7dbb63">
                    <path
                        d="m420.916 191.168h-20c-24.813 0-45 20.187-45 45v19.999c0 8.284 6.716 15 15 15h20c24.813 0 45-20.187 45-45v-19.999c0-8.284-6.715-15-15-15z" />
                    <path
                        d="m329.085 140.235h20c24.813 0 45-20.187 45-45v-19.999c0-8.284-6.716-15-15-15h-20c-24.813 0-45 20.187-45 45v19.999c0 8.284 6.716 15 15 15z" />
                    <path
                        d="m346.095 285.993h-19.999c-8.284 0-15 6.716-15 15v19.999c0 24.813 20.187 45 45 45h19.999c8.284 0 15-6.716 15-15v-19.999c0-24.813-20.187-45-45-45z" />
                </g>
                <path
                    d="m141.082 191.161c8.284 0 15-6.716 15-15v-19.999c0-24.813-20.187-45-45-45h-20c-8.284 0-15 6.716-15 15v19.999c0 24.813 20.187 45 45 45z"
                    fill="#b4dc70" />
                <path
                    d="m185.903 205.987h-19.999c-24.813 0-45 20.187-45 45v19.999c0 8.284 6.716 15 15 15h19.999c24.813 0 45-20.187 45-45v-19.999c0-8.284-6.716-15-15-15z"
                    fill="#b4dc70" />
            </g>
        </svg>
    </div>
    <div class="progress-post-container">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <div class="post-button-container">
                    <div class="add-post-button">
                        <a class="cta-button-green" href="{% url 'add_post' %}">
                            Add New Post &nbsp;<i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="spacer"></div>
            {% endif %}
        {% endif %}
        <div class="progress-posts">
            {% if progress_posts|length >= 1 %}
                {% for post in progress_posts %}
                <div class="post-card">
                    <div class="post-head">
                        <h2>{{ post.post_title }}</h2>

                        {% if request.user.is_superuser %}
                            <button class="display-edit-dropdown"
                            onclick="displayOptionsDropdown('{{ post.id }}')"><i
                                class="fas fa-ellipsis-v font-color-light"></i></button>
                            <div class="display-edit-options"
                            id="display-options-{{ post.id }}">
                                <a class=""
                                    href="{% url 'delete_post' post.id %}">
                                    <h4>Delete Post</h4><i class="fas fa-trash-alt"></i>
                                </a>
                                <a class=""
                                    href="{% url 'edit_post' post.id %}">
                                    <h4>Edit Post</h4><i class="fas fa-pencil-alt"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="post-body">
                        <p class="post-content">{{ post.post_content }}</p>
                        <div class="post-body-bottom">
                            <p>{{ post.date }}</p>
                            <p>{{ post.author }}</p>
                        </div>
                    </div>
                    <div class="post-foot">
                        <div class="foot-options">
                            <a onclick="displayComments(this, {{ post.id }})"><span>Show Comments </span>({{ post.comments.all.count }})</a>
                        </div>
                        <div class="post-comment-container" id="comment-container-{{post.id}}">
                            <div {% if request.user.is_authenticated %} class="post-comment-add" {% else %} class="post-comment-add form-background" {% endif %}>
                                {% if request.user.is_authenticated %}
                                    <form class="add-comment-form" action="{% url 'add_comment' post.id %}" method="POST" >
                                        {% csrf_token %}
                                        <textarea name="comment_content" id="comment_content" placeholder="Enter your comment text." cols="30" rows="2"></textarea>
                                        <div class="form-buttons">  
                                            <button type="button" id="clear-button">Clear</button>
                                            <button type="submit">Add</button>
                                        </div>
                                    </form>
                                {% else %}
                                    <div class="add-comment-alt">
                                        <p>Please <a href="{% url 'account_login' %}">sign in</a> or <a href="{% url 'account_signup' %}">register</a> to reply to this post.</p>
                                    </div>
                                {% endif %}
                            </div>
                            {% for comment in post.comments.all %}
                                <hr class="comment-seperate">
                                <div class="comment-card" id="comment-{{comment.id}}">
                                    <p class="comment-content">{{ comment.comment_content }}</p>
                                    <div class="comment-bottom-row">
                                        <div class="comment-bottom-details">
                                            <p>{{ comment.author }}</p>
                                            <p class="comment-date">{{ comment.date }}</p>
                                        </div>
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.is_superuser or request.user == comment.author.user %}
                                                <div class="comment-options">
                                                    <button class="comment-link" href="" onclick="displayEditForm({{comment.id}})">Edit</button>
                                                    <a class="comment-link"  href="{% url 'delete_comment' comment.id %}">Delete</a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="comment-edit" id="comment-edit-{{comment.id}}">
                                    <form action="{% url 'edit_comment' comment.id %}" method="POST">
                                        {% csrf_token %}
                                        <textarea class="edit-comment-textarea" name="comment-content" id="comment-content" cols="30" rows="2">{{comment.comment_content}}</textarea>
                                        <div class="form-buttons">   
                                            <button class="comment-cancel" onclick="closeEdit({{comment.id}})" type="button">Cancel</button>
                                            <button class="comment-save" type="submit">Save</button>                                    
                                        </div> 
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}