{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="admin-content row">
    <div class="admin-container">
        <div class="page-title font-color-green col-12">
            <h1>Post Admin
                <i class="fab fa-pagelines font-color-green"></i>
            </h1>
            <h2>Edit post</h2>
        </div>
        <div class="admin-form-container">
            <form action="{% url 'edit_post' post.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="post-admin-options">
                    <a class="cta-button-green" href="{% url 'progress' %}">
                        Cancel
                    </a>
                    <button type="submit" class="cta-button-green">
                        Update Post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}