{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="allauth-container row">
    <div class="col-12 col-lg-8 allauth-body">
      <div class="page-title font-color-green">
        <h1>{% trans "Sign Up" %}</h1>
        <hr>
      </div>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="allauth-bottom-options">
          <button class="allauth-submit " type="submit">{% trans "Sign Up" %}</button>
        </div>
      </form>

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    </div>
  <div class="col-4 allauth-image">
    <img src="{{ MEDIA_URL }}allauth-image.jpg" alt="">
  </div>
</div>

{% endblock %}
