.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 3rem;
    padding: .5rem 1.2rem;
    border: 1px solid #336857;
    border-radius: 0;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    -moz-transition: box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #336857;
    border: 1px solid #336857;
}

#div_id_country select,
#div_id_country select option {
    font-size: 1.4rem;
    color: #336857;
}

#div_id_country select option {
    padding: 0;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#progress-spinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1a342c;
    background: rgba(26, 52, 44, .85);
    z-index: 99999;
}

#progress-spinner h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    color: #ffffff;
}

.store-details-row {
    margin-top: -.5rem;
}

#id-store-details {
    color: #336857;
}

#id-store-details {
    display: none;
}

.store-details-label {
    padding: 3px;
    font-size: 1.4rem;
}

#id-store-details:checked+.store-details-label:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f14a";
    cursor: pointer;

}

#id-store-details+.store-details-label:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0c8";
    cursor: pointer;
}

.store-details-row input {
    display: flex;
    order: 2;
}

.store-details-row label {
    display: flex;
    order: 1;
}