{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="admin-content row">
    <div class="admin-container">
        <div class="page-title font-color-green col-12">
            <h1>Product Admin
                <i class="fab fa-pagelines font-color-green"></i>
            </h1>
            <h2>Add a product</h2>
        </div>
        <div class="admin-form-container">
            <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="button-row">
                    <a class="cta-button-green" href="{% url 'products' %}">
                        Cancel
                    </a>
                    <button type="submit" class="cta-button-green">
                        Add Product
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function(){
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`New image will be ${file.name}`)
        });
    </script>
{% endblock %}