{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="store-content container-flex bg-dark-green">
    <div class="store-row row">
        <h2 class="page-title font-color-dark col-12">Native Trees and Seeds</h2>
    </div>
    <div class="store-row row">
        <div class="display-options col-12 row">
            <form method="GET" action="{% url 'products' %}">
                <div class="filter-row">
                    <label for="product-filter">Filter By:</label>
                    <select onchange="this.form.submit()" class="product-filter-select" name="product-filter" id="product-filter">
                        <option value="all" {% if current_category == None %} selected {% endif %}>All Products</option>
                        <option value="seeds" {% if current_category == 'seeds' %} selected {% endif %}>Seeds</option>
                        <option value="sapling_2_litre_pot" {% if current_category == 'sapling_2_litre_pot' %} selected {% endif %}>Saplings 2L Pot</option>
                        <option value="sapling_4_litre_pot" {% if current_category == 'sapling_4_litre_pot' %} selected {% endif %}>Saplings 4L Pot</option>
                        <option value="sapling_10_litre_pot" {% if current_category == 'sapling_10_litre_pot' %} selected {% endif %}>Saplings 10L Pot</option>
                    </select>
                </div>
                <div class="filter-row">
                    <label for="product-sort">Sort By:</label>
                    <select onchange="this.form.submit()" class="product-sort-select" name="product-sort" id="product-sort">
                        <option value="price_asc" {% if current_sorting == 'price_asc' or current_sorting == None %} selected {% endif %}>Price Asc.</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %} selected {% endif %}>Price Desc.</option>
                        {% if current_category == None %} 
                            <option value="category" {% if current_sorting == 'category' %} selected {% endif %}>Category</option>
                        {% endif %}
                    </select>
                </div>
                <div class="filter-row">
                    <label for="search-q">Search:</label>
                    <div class="flex-row">
                        <input type="text" placeholder="Keyword" name="q" id="search-q" {% if search_term %}value="{{ search_term }}"{% endif %}>
                        <button class="cta-button-green" type='submit'>Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="results-found col-12">
            <p class="font-color-dark">{% if search_term %}{{ search_term }} - {% endif %}{% if current_category == None %}All Categories{% else %}{{ category_friendly.friendly_name }}{% endif %} - {{ sort_friendly }} | {{ products|length }} Items Found <a href="{% url 'products' %}">Reset</a></p>
        </div>
    </div>
    <div class="store-row">
        <div class="products-container">
            {% if products|length >= 1 %}
                {% for product in products %}
                    <div class="product-card">
                        {% if request.user.is_superuser %}
                            <button class="display-edit-dropdown"
                            onclick="displayOptionsDropdown('{{ product.id }}')"><i
                            class="fas fa-ellipsis-v font-color-light"></i></button>

                            <div class="display-product-options"
                            id="display-options-{{ product.id }}">
                                <a class=""
                                    href="{% url 'delete_product' product.id %}">
                                    <h4>Delete Product</h4><i class="fas fa-times"></i>
                                </a>
                                <a class=""
                                    href="{% url 'edit_product' product.id %}">
                                    <h4>Edit Product</h4><i class="fas fa-pencil-alt"></i>
                                </a>
                            </div>
                        {% endif %}
                        <a class="product-card-image col-12" href="{% url 'product_details' product.id %}">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="product image for {{ product.product_name }}">
                            {% else %}
                                <div class="alt-product-image"></div>
                            {% endif %}
                        </a>
                        <div class="card-title">
                            <div class="card-title-head">
                                <p class="product-name">{{ product.product_name }}</p>
                                <p class="product-price ">€{{ product.price }}</p>
                                {% if product.sku %}
                                    <p class="product-sku">SKU: <em>{{ product.sku }}</em></p>
                                {% endif %}
                            </div>
                            <div class="product-card-options">
                                <form action="{% url 'add_to_basket' product.id 'products' %}" method="POST" class="form">
                                    {% csrf_token %}
                                    <a href="{% url 'product_details' product.id %}" class="product-details-button">Details</a>
                                    <div class="add-to-basket-container">
                                        <button class="" type="submit">Add to Basket</button>
                                        <input type="number" class="form-control" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    </div>
                                    <input type="hidden" name="redirect_location" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}