{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="store-content container-flex bg-dark-green">
    <div class="store-row row">
        <h1 class="page-title font-color-dark col-12">Sponsorship Packages</h1>
    </div>
    <div class="store-row">
        <div class="products-container">
            {% if sponsorship_packages|length >= 1 %}
                {% for item in sponsorship_packages %}
                    <div class="product-card">
                        {% if request.user.is_superuser %}
                        <button class="display-edit-dropdown"
                        onclick="displayOptionsDropdown('{{ item.id }}')"><i
                        class="fas fa-ellipsis-v font-color-light"></i></button>

                        <div class="display-product-options"
                        id="display-options-{{ item.id }}">
                            <a class=""
                                href="{% url 'delete_product' item.id %}">
                                <h4>Delete Product</h4><i class="fas fa-times"></i>
                            </a>
                            <a class=""
                                href="{% url 'edit_product' item.id %}">
                                <h4>Edit Product</h4><i class="fas fa-pencil-alt"></i>
                            </a>
                        </div>
                    {% endif %}
                        <a class="product-card-image col-12" href="{% url 'product_details' item.id %}">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="product image for {{ item.product_name }}">
                            {% else %}
                                <img class="alt-product-image" alt="product image for {{ item.product_name }}" src="{{ MEDIA_URL }}placeholder.png">
                            {% endif %}
                        </a>
                        <div class="card-title">
                            <div class="card-title-head">
                                <p class="product-name">{{ item.product_name }}</p>
                                <p class="product-price ">€{{ item.price }}</p>
                                {% if product.sku %}
                                    <p class="product-sku">SKU: <em>{{ product.sku }}</em></p>
                                {% endif %}
                            </div>
                            <div class="product-card-options">
                                <form action="{% url 'add_to_basket' item.id 'sponsorship_packages' %}" method="POST" class="form">
                                    {% csrf_token %}
                                    <a href="{% url 'product_details' item.id %}" class="product-details-button">Details</a>
                                    <div class="add-to-basket-container">
                                        <button class="" type="submit">Add to Basket</button>
                                        <input type="number" class="form-control" name="quantity" value="1" min="1" max="99" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
                                    </div>
                                    <input type="hidden" name="redirect_location" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-products-display">
                    <p>There are currently no sponsorship packages available.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}